<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/transporter_page.css">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        
        <h1>Choose the order_id from the given link</h1>
        
        <div class="btn-group">
          <a class="btn-item" href="/transporter_page" >Here</a>
          
        </div>
      </div>
      <form action="/">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Send Message to Manafacturer</h2>
        </div>
        <div class="info">
          <input class="fname" type="text" name="order_id" placeholder="Order_ID">
          <input type="text" name="price" placeholder="Price">
          
         
        </div>
        
        <button type="submit" href="/manufacturer_page">Send Message</button>
        
      </form>
    </div>
  </body>
</html>